<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="Acme">
      <section name="Logger" type="Acme.Core.Logger.LoggingConfiguration, Acme.Core"></section>
      <section name="Localization" type="Acme.Core.Localization.LocalizationConfiguration, Acme.Core"></section>
      <section name="Settings" type="Acme.Core.Configuration.InterfaceConfigurationSection, Acme.Core"></section>
      <section name="Caching" type="Acme.Core.Configuration.InterfaceConfigurationSection, Acme.Core"></section>
      <!-- This is for app.config -->
    </sectionGroup>
    <sectionGroup name="AcmeCorp">
      <section name="DataAccessLayer" type="Acme.Core.Configuration.InterfaceConfigurationSection, Acme.Core"></section>
      <!-- This is for app.config -->
    </sectionGroup>
  </configSections>
  <Acme>
    <Logger>
      <InterfaceImplementation
        name="Mock Logger"
        type="Acme.Core.MockImplementations.MockLogger, Acme.Core" />
      <!-- Set here the logging implementation -->
      <LoggingSettings
          traceLevel="Verbose"
          eventId="1-9999"
          innerExceptions="All"
              />
      <ImplementationParameters>
        <!-- Set here the implementation specific logging parameters, they are different for different implementations -->
        <add name="Area" value="AcmeCorpEngagements" />
      </ImplementationParameters>
    </Logger>
    <Localization>
      <!-- Set here the logging implementation -->
      <InterfaceImplementation
        name="Mock localization"
        type="Acme.Core.MockImplementations.MockLocalization, Acme.Core" />
      <!-- Set here standard localization defaults -->
      <LocalizationSettings
          defaultLanguage="ENG"
          implementFallback="false"
          fallbackLanguage="ENG"
          fallbackToKey="false"
          createMissingKeys="true"
              />
      <ImplementationParameters>
        <!-- Set here the implementation specific lozalization parameters, they are different for different implementations -->
        <add name="FirstLocalizationPropery" value="FirstValue" />
        <add name="SecondLocalizationProperty" value="Second value" />
      </ImplementationParameters>
    </Localization>
    <Settings>
      <InterfaceImplementation
        name="Mock settings"
        type="Acme.Core.MockImplementations.MockSettings, Acme.Core" />
      <ImplementationParameters>
        <add name="TaxonomyGroupName" value="AcmeCorpEngagements" />
        <add name="TaxonomyTermSetName" value="Settings" />
      </ImplementationParameters>
    </Settings>
    <Caching>
      <InterfaceImplementation
        name="Mock Caching"
        type="Acme.Core.MockImplementations.MockCaching, Acme.Core" />
      <ImplementationParameters>
        <add name="CacheName" value="default" />
        <add name="NumberOfServers" value="1" />
        <add name="CacheServer1" value="WIN-H1G8DUH8PUT;22233" />
        <add name="DataCacheSecurityMode" value="Transport" />
        <add name="DataCacheProtectionLevel" value="EncryptAndSign" />
        <!--<add name="CacheServer2" value="TESTSERVER;12345" />-->
      </ImplementationParameters>
    </Caching>
  </Acme>
  <AcmeCorp>
    <DataAccessLayer>
      <InterfaceImplementation
        name="SharePoint DAL Implementation"
        type="AcmeCorp.Engagements.EngagementsSharePointDataAccess.EngagementsSharePointDal, AcmeCorp.Engagements.EngagementsSharePointDataAccess, Version=1.0.0.0, Culture=neutral, PublicKeyToken=76ab1eb817808800" />
      <ImplementationParameters>
        <add name="DefaultSiteOwner" value="SPFARM\Administrator" />
        <add name="DefaultProjectSitePath" value="engagements" />
        <add name="RootSiteCollection" value="https://appsrv1" />
        <add name="SearchServiceApplicationProxy" value="FAST Query SSA" />
        <add name="ProjectsTxonomyGroupName" value="AcmeCorpEngagements" />
        <add name="FolderStructuresTermSetName" value="Folder Structure Templates" />
        <add name="ContentDatabaseTemplateName" value="T_SPCONTENT_PORTAL_" />
        <add name="ContentDatabaseMaxTresholdSize" value="19327352832" />
        <add name="SiteCollectionQuotaTemplate" value="10737418240" />
        <add name="ContentDatabaseMaxSiteCollections" value="20" />
        <add name="ContentDatabaseWarningSiteCollections" value="15" />
        <add name="EngagementProjectSiteTemplateName" value="EngagementsSiteDef#0" />
        <add name="InternalProjectSiteTemplateName" value="STS#0" />
        <add name="EngagementProjectSiteTemplateLanguage" value="1033" />
        <add name="InternalProjectSiteTemplateLanguage" value="1033" />
        <add name="EngagementDeliverLibraryName" value="03 Deliver" />
        <add name="EngagementCloseLibraryName" value="04 Close" />
        <add name="OpportunityInitiateLibraryName" value="Documents" />
        <add name="OpportunityPlanLibraryName" value="Documents" />
        <add name="EngagementsDbConnectionString" value="Data Source=APPSRV1\MSSQLSP;Initial Catalog=EngagementsDb;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" />
        <add name="DeputiesGroupOu" value="EngagementDeputies" />
        <add name="DeputiesGroupPrefix" value="Deputies" />
        <add name="DeputiesOuContainer" value="OU=AcmeCorp,DC=spfarm,DC=local" />
        <add name="UsersOuContainer" value="CN=Users,DC=spfarm,DC=local" />
      </ImplementationParameters>
    </DataAccessLayer>
  </AcmeCorp>
  <appSettings>
    <add key="DefaultDomain" value="i:0#.w|SPFARM\" />
    <add key="RootSite" value="https://appsrv1/"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!--<binding name="BasicHttpBinding_IEngagementsService" sendTimeout="00:10:00">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" />
          </security>
        </binding>-->
        <binding name="BasicHttpEndpoint">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="http://appsrv1.spfarm.local:801/EngagementsService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEngagementsService"
        contract="EngagementsService.IEngagementsService" name="BasicHttpBinding_IEngagementsService" />-->
      <endpoint address="http://appsrv1.spfarm.local:801/EngagementsService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpEndpoint"
        contract="EngagementsService.IEngagementsService" name="BasicHttpEndpoint" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
