<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ChargeableCodeNotification_InbBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint binding="basicHttpBinding" bindingConfiguration="ChargeableCodeNotification_InbBinding"
                contract="ChargeableCodeNotification_Inb" name="ChargeableCodeNotification_InbBinding_ChargeableCodeNotification_Inb" />
        </client>
    </system.serviceModel>
</configuration>