<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CustomTableRead_OutbBinding" />
                <binding name="CustomTableRead_OutbBinding1">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://cix11.de.kworld.AcmeCorp.com:54500/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_SharedDeliveryCenter_SOAP&amp;receiverParty=&amp;receiverService=BC_ProcessIntegration&amp;interface=CustomTableRead_Outb&amp;interfaceNamespace=urn%3AAcmeCorp%3Aeu%3Ageneric%3Abasis%3Aservices"
                binding="basicHttpBinding" bindingConfiguration="CustomTableRead_OutbBinding"
                contract="CustomTableRead_Outb" name="HTTP_Port" />
            <endpoint address="https://cix11.de.kworld.AcmeCorp.com:54501/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_SharedDeliveryCenter_SOAP&amp;receiverParty=&amp;receiverService=BC_ProcessIntegration&amp;interface=CustomTableRead_Outb&amp;interfaceNamespace=urn%3AAcmeCorp%3Aeu%3Ageneric%3Abasis%3Aservices"
                binding="basicHttpBinding" bindingConfiguration="CustomTableRead_OutbBinding1"
                contract="CustomTableRead_Outb" name="HTTPS_Port" />
        </client>
    </system.serviceModel>
</configuration>