<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="OpportunityCRMNotification_InbBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint binding="basicHttpBinding" bindingConfiguration="OpportunityCRMNotification_InbBinding"
                contract="OpportunityCRMNotification_Inb" name="OpportunityCRMNotification_InbBinding_OpportunityCRMNotification_Inb" />
        </client>
    </system.serviceModel>
</configuration>