<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="PlanB">
      <section name="Logger" type="PlanB.Core.Logger.LoggingConfiguration, PlanB.Core"></section>
      <section name="Localization" type="PlanB.Core.Localization.LocalizationConfiguration, PlanB.Core"></section>
      <section name="Settings" type="PlanB.Core.Configuration.InterfaceConfigurationSection, PlanB.Core"></section>
      <section name="Caching" type="PlanB.Core.Configuration.InterfaceConfigurationSection, PlanB.Core"></section>
      <!-- This is for app.config -->
    </sectionGroup>
    <sectionGroup name="KPMG">
      <section name="DataAccessLayer" type="PlanB.Core.Configuration.InterfaceConfigurationSection, PlanB.Core"></section>
      <!-- This is for app.config -->
    </sectionGroup>
  </configSections>
  <PlanB>
    <Logger>
      <InterfaceImplementation name="Mock Logger" type="PlanB.Core.MockImplementations.MockLogger, PlanB.Core" />
      <!-- Set here the logging implementation -->
      <LoggingSettings traceLevel="Verbose" eventId="1-9999" innerExceptions="All" />
      <ImplementationParameters>
        <!-- Set here the implementation specific logging parameters, they are different for different implementations -->
        <add name="Area" value="KpmgEngagements" />
      </ImplementationParameters>
    </Logger>
    <Localization>
      <!-- Set here the logging implementation -->
      <InterfaceImplementation name="Mock localization" type="PlanB.Core.MockImplementations.MockLocalization, PlanB.Core" />
      <!-- Set here standard localization defaults -->
      <LocalizationSettings defaultLanguage="ENG" implementFallback="false" fallbackLanguage="ENG" fallbackToKey="false" createMissingKeys="true" />
      <ImplementationParameters>
        <!-- Set here the implementation specific lozalization parameters, they are different for different implementations -->
        <add name="FirstLocalizationPropery" value="FirstValue" />
        <add name="SecondLocalizationProperty" value="Second value" />
      </ImplementationParameters>
    </Localization>
    <Settings>
      <InterfaceImplementation name="Mock settings" type="PlanB.Core.MockImplementations.MockSettings, PlanB.Core" />
      <ImplementationParameters>
        <add name="TaxonomyGroupName" value="KpmgEngagements" />
        <add name="TaxonomyTermSetName" value="Settings" />
      </ImplementationParameters>
    </Settings>
    <Caching>
      <InterfaceImplementation name="Mock Caching" type="PlanB.Core.MockImplementations.MockCaching, PlanB.Core" />
      <ImplementationParameters>
        <add name="CacheName" value="default" />
        <add name="NumberOfServers" value="1" />
        <add name="CacheServer1" value="WIN-H1G8DUH8PUT;22233" />
        <add name="DataCacheSecurityMode" value="Transport" />
        <add name="DataCacheProtectionLevel" value="EncryptAndSign" />
        <!--<add name="CacheServer2" value="TESTSERVER;12345"/>-->
      </ImplementationParameters>
    </Caching>
  </PlanB>
  <KPMG>
    <DataAccessLayer>
      <InterfaceImplementation name="SharePoint DAL Implementation" type="KPMG.Engagements.EngagementsSharePointDataAccess.EngagementsSharePointDal, KPMG.Engagements.EngagementsSharePointDataAccess, Version=1.0.0.0, Culture=neutral, PublicKeyToken=76ab1eb817808800" />
      <ImplementationParameters>
        <add name="DefaultSiteOwner" value="de\de-svc-tesfset" />
        <add name="DefaultProjectSitePath" value="engagements" />
        <add name="RootSiteCollection" value="https://projectspace-test.de.kworld.kpmg.com" />
        <add name="SearchServiceApplicationProxy" value="FAST Query SSA" />
        <add name="ProjectsTxonomyGroupName" value="KpmgEngagements" />
        <add name="FolderStructuresTermSetName" value="Folder Structure Templates" />
        <add name="ContentDatabaseTemplateName" value="T_SPCONTENT_PORTAL_" />
        <add name="ContentDatabaseMaxTresholdSize" value="19327352832" />
        <add name="SiteCollectionQuotaTemplate" value="10737418240" />
        <add name="ContentDatabaseMaxSiteCollections" value="20" />
        <add name="ContentDatabaseWarningSiteCollections" value="15" />
        <add name="EngagementProjectSiteTemplateName" value="EngagementsSiteDef#0" />
        <add name="InternalProjectSiteTemplateName" value="STS#0" />
        <add name="EngagementProjectSiteTemplateLanguage" value="1033" />
        <add name="InternalProjectSiteTemplateLanguage" value="1033" />
        <add name="TeamSyncedLibraryName" value="Team Library Synced" />
        <add name="TeamLibraryName" value="Team Library" />
        <add name="DocumentsLibraryName" value="Documents" />
        <add name="ManagementLibraryName" value="Management Library" />
        <add name="EngagementsDbConnectionString" value="Data Source=DEBZIDB701\SP_T_APP;Initial Catalog=EngagementsDb;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" />
        <add name="DeputiesGroupOu" value="EngagementDeputies" />
        <add name="DeputiesGroupPrefix" value="Deputies" />
        <add name="DeputiesOuContainer" value="OU=KPMG,DC=spfarm,DC=local" />
        <add name="UsersOuContainer" value="CN=Users,DC=spfarm,DC=local" />
        <add name="ServiceBusConnectionString" value="Endpoint=sb://DEBZIAPP703.de.kworld.kpmg.com/WorkflowDefaultNamespace;StsEndpoint=https://DEBZIAPP703.de.kworld.kpmg.com:9355/WorkflowDefaultNamespace;RuntimePort=9354;ManagementPort=9355" />
        <add name="ServiceBusQueueName" value="EngagementsServiceCalls" />
        <add name="SupportedFolderTemplateFunction" value="FunctionCustomProperty" />
        <add name="DefaultRetentionPolicyName" value="Default Retention Policy" />
        <add name="InternalProjectSitePath" value="engagements" />
        <add name="ProjectSpaceOperationsDbConnectionString" value="Data Source=DEBZIDB701\SP_T_APP;Initial Catalog=ProjectSpaceOperationsDb;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" />
      </ImplementationParameters>
    </DataAccessLayer>
  </KPMG>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpEndpoint">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" />
          </security>
        </binding>
        <binding name="CustomerCRMByIDQueryResponse_OutbBinding" />
        <binding name="CustomerCRMByIDQueryResponse_OutbBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="OpportunityCRMByIDQueryResponse_OutbBinding" />
        <binding name="OpportunityCRMByIDQueryResponse_OutbBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="ChargeableCodeByIDQuery_OutbBinding" />
        <binding name="ChargeableCodeByIDQuery_OutbBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="NonChargeableCodeByIDQuery_OutbBinding" />
        <binding name="NonChargeableCodeByIDQuery_OutbBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="CustomTableRead_OutbBinding" />
        <binding name="CustomTableRead_OutbBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpEndpoint1">
          <security mode="Transport">
            <transport clientCredentialType="Ntlm" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://DEBZIWEB701.de.kworld.kpmg.com:801/EngagementsService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpEndpoint"
        contract="EngagementsService.IEngagementsService" name="BasicHttpEndpoint" />
      <endpoint address="http://cix11.de.kworld.kpmg.com:54500/XISOAPAdapter/MessageServlet?senderParty=KPMG_DE&amp;senderService=BC_SharedDeliveryCenter_SOAP&amp;receiverParty=&amp;receiverService=BC_ProcessIntegration&amp;interface=CustomerCRMByIDQueryResponse_Outb&amp;interfaceNamespace=urn%3Akpmg%3Ade%3Acrm%3Anonsap%3Abusinesspartnermanagement"
        binding="basicHttpBinding" bindingConfiguration="CustomerCRMByIDQueryResponse_OutbBinding"
        contract="Customers.CustomerCRMByIDQueryResponse_Outb" name="CustomersOutbound" />
      <endpoint address="https://cix11.de.kworld.kpmg.com:54501/XISOAPAdapter/MessageServlet?senderParty=KPMG_DE&amp;senderService=BC_SharedDeliveryCenter_SOAP&amp;receiverParty=&amp;receiverService=BC_ProcessIntegration&amp;interface=CustomerCRMByIDQueryResponse_Outb&amp;interfaceNamespace=urn%3Akpmg%3Ade%3Acrm%3Anonsap%3Abusinesspartnermanagement"
        binding="basicHttpBinding" bindingConfiguration="CustomerCRMByIDQueryResponse_OutbBinding1"
        contract="Customers.CustomerCRMByIDQueryResponse_Outb" name="CustomersOutbound2" />
      <endpoint address="http://cix11.de.kworld.kpmg.com:54500/XISOAPAdapter/MessageServlet?senderParty=KPMG_DE&amp;senderService=BC_SharedDeliveryCenter_SOAP&amp;receiverParty=&amp;receiverService=BC_ProcessIntegration&amp;interface=ChargeableCodeByIDQuery_Outb&amp;interfaceNamespace=urn%3Akpmg%3Ade%3Aerp%3Anonsap%3Asd%3Achargeablecode"
        binding="basicHttpBinding" bindingConfiguration="ChargeableCodeByIDQuery_OutbBinding"
        contract="ChargeableCode.ChargeableCodeByIDQuery_Outb" name="ChargeableCodeOutbound" />
      <endpoint address="https://cix11.de.kworld.kpmg.com:54501/XISOAPAdapter/MessageServlet?senderParty=KPMG_DE&amp;senderService=BC_SharedDeliveryCenter_SOAP&amp;receiverParty=&amp;receiverService=BC_ProcessIntegration&amp;interface=ChargeableCodeByIDQuery_Outb&amp;interfaceNamespace=urn%3Akpmg%3Ade%3Aerp%3Anonsap%3Asd%3Achargeablecode"
        binding="basicHttpBinding" bindingConfiguration="ChargeableCodeByIDQuery_OutbBinding1"
        contract="ChargeableCode.ChargeableCodeByIDQuery_Outb" name="ChargeableCode2" />
      <endpoint address="http://cix11.de.kworld.kpmg.com:54500/XISOAPAdapter/MessageServlet?senderParty=KPMG_DE&amp;senderService=BC_SharedDeliveryCenter_SOAP&amp;receiverParty=&amp;receiverService=BC_ProcessIntegration&amp;interface=NonChargeableCodeByIDQuery_Outb&amp;interfaceNamespace=urn%3Akpmg%3Ade%3Aerp%3Anonsap%3Afin%3Anonchargeablecode"
        binding="basicHttpBinding" bindingConfiguration="NonChargeableCodeByIDQuery_OutbBinding"
        contract="NonChargeableCode.NonChargeableCodeByIDQuery_Outb"
        name="NonChargeableCodeOutbound" />
      <endpoint address="https://cix11.de.kworld.kpmg.com:54501/XISOAPAdapter/MessageServlet?senderParty=KPMG_DE&amp;senderService=BC_SharedDeliveryCenter_SOAP&amp;receiverParty=&amp;receiverService=BC_ProcessIntegration&amp;interface=NonChargeableCodeByIDQuery_Outb&amp;interfaceNamespace=urn%3Akpmg%3Ade%3Aerp%3Anonsap%3Afin%3Anonchargeablecode"
        binding="basicHttpBinding" bindingConfiguration="NonChargeableCodeByIDQuery_OutbBinding1"
        contract="NonChargeableCode.NonChargeableCodeByIDQuery_Outb"
        name="NonChargeableCodeOutbound2" />
      <endpoint address="http://cix11.de.kworld.kpmg.com:54500/XISOAPAdapter/MessageServlet?senderParty=KPMG_DE&amp;senderService=BC_SharedDeliveryCenter_SOAP&amp;receiverParty=&amp;receiverService=BC_ProcessIntegration&amp;interface=CustomTableRead_Outb&amp;interfaceNamespace=urn%3Akpmg%3Aeu%3Ageneric%3Abasis%3Aservices"
        binding="basicHttpBinding" bindingConfiguration="CustomTableRead_OutbBinding"
        contract="CustomTables.CustomTableRead_Outb" name="CustomTables" />
      <endpoint address="https://cix11.de.kworld.kpmg.com:54501/XISOAPAdapter/MessageServlet?senderParty=KPMG_DE&amp;senderService=BC_SharedDeliveryCenter_SOAP&amp;receiverParty=&amp;receiverService=BC_ProcessIntegration&amp;interface=CustomTableRead_Outb&amp;interfaceNamespace=urn%3Akpmg%3Aeu%3Ageneric%3Abasis%3Aservices"
        binding="basicHttpBinding" bindingConfiguration="CustomTableRead_OutbBinding1"
        contract="CustomTables.CustomTableRead_Outb" name="CustomerTables2" />
      <endpoint address="https://projectspace-test.de.kworld.kpmg.com:801/EngagementsService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpEndpoint1"
        contract="EngagementsService.IEngagementsService" name="BasicHttpEndpoint1" />
      <endpoint address="http://cix11.de.kworld.kpmg.com:54500/XISOAPAdapter/MessageServlet?senderParty=KPMG_DE&amp;senderService=BC_SharedDeliveryCenter_SOAP&amp;receiverParty=&amp;receiverService=BC_ProcessIntegration&amp;interface=OpportunityCRMByIDQueryResponse_Outb&amp;interfaceNamespace=urn%3Akpmg%3Ade%3Acrm%3Anonsap%3Aopportunitymanagement"
        binding="basicHttpBinding" bindingConfiguration="OpportunityCRMByIDQueryResponse_OutbBinding"
        contract="Opportunities.OpportunityCRMByIDQueryResponse_Outb"
        name="HTTP_Port" />
      <endpoint address="https://cix11.de.kworld.kpmg.com:54501/XISOAPAdapter/MessageServlet?senderParty=KPMG_DE&amp;senderService=BC_SharedDeliveryCenter_SOAP&amp;receiverParty=&amp;receiverService=BC_ProcessIntegration&amp;interface=OpportunityCRMByIDQueryResponse_Outb&amp;interfaceNamespace=urn%3Akpmg%3Ade%3Acrm%3Anonsap%3Aopportunitymanagement"
        binding="basicHttpBinding" bindingConfiguration="OpportunityCRMByIDQueryResponse_OutbBinding1"
        contract="Opportunities.OpportunityCRMByIDQueryResponse_Outb"
        name="HTTPS_Port" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
